* {
    border: none;
    border-radius: 0px;
    color: white;
}

window#waybar {
    font-size: 14px;
    background: black;
}

tooltip {
    font-size: 14px;
    background: black;
    border-radius: 7px;
}

#workspaces button {
    padding: 0 5px;
}

#workspaces button.focused {
    background: #3584e4;
}

.modules-right * {
    padding: 0 5px;
}

#network.disconnected {
    color: #ed333b;
}

#mode {
    background: #cd9309;
}

#battery.charging {
    color: #33d17a;
}

@keyframes blink {
    to {
        background-color: #ed333b;
        border-radius: 5px;
    }
}

#battery.warning:not(.charging) {
    color: white;
    animation-name: blink;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
